Je veux faire un projet de synthèse des 4 cours et des 3 TDs ci-joints.

Je veux coder les clés en clair (le code est protégé)
Je veux un code simple et applicable à tous les papiers de recherche.
Je veux d'abord filtrer et ne garder que les papiers sur le machine learning.

